<!DOCTYPE html>
<html lang="ko-KR">

<head>
</head>

<body>

<div class="filter_content">
    <ul class="list--selected_filter">
        <li class="item">
            <a href="/list?category=68040000" class="link" title="에잇세컨즈 필터 해제">
                <span class="text--filter_name">에잇세컨즈</span>
                <span class="icon">
                    <span class="ir">필터 해제</span>
                </span>
            </a>
        </li>
    </ul>
    <a href="/list?category=68040000" title="선택한 필터 모두 해제" class="link--filter_reset">
        <span class="text">초기화</span>
    </a>
</div>

<div class="section--module_wrap" module-design-id="1021">
    <div class="component component--filter type--toggle name--category on">
        <h4 class="text--module_title">카테고리<!-- --> 필터</h4>
        <p class="filter_title">카테고리</p>
        <button type="button" title="'카테고리 상세검색' 전체 닫기" class="button--filter_toggle">
            <span class="icon">
                <span class="ir">'카테고리 상세검색' 전체 닫기</span>
            </span>
        </button>
        <div class="filter_content section--search_category">
            <a href="/list?category=68040000&amp;f=b:22907" title="니트/가디건" class="link--category_all parent">니트/가디건</a>
            <div class="section--category_group "><ul class="list--category depth3 ">
                <li class="item depth3">
                    <a href="/list?category=68040100&amp;f=b:22907" class="link--category  ">라운드/브이넥</a>
                </li>
                <li class="item depth3"><a href="/list?category=68040300&amp;f=b:22907" class="link--category  ">가디건/집업/베스트</a></li>
                <li class="item depth3"><a href="/list?category=68040400&amp;f=b:22907" class="link--category  ">터틀넥</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
('#search').click(function () {
    $('#search_result').show();
    // 1st 데이터 가져오기
    var tag = ''
    for (var i = 0; i < 10; i++) {
      tag += `<tr>
                <td>
                  <input type="radio" id="selection" name="selection">
                </td>
                <td>가산댕댕이카페${i}</td>
                <td>서울시 금천구 가산디지털2로 100 1층</td>
              </tr>`;
    }
    $('#first-destination tbody').append(tag);
  })
  $('#add1').click(function () {
    // 2st 데이터 가져오기
    var tag = ''
    for (var i = 0; i < 10; i++) {
      tag += `<tr>
                <td>
                  <input type="radio" id="selection" name="selection">
                </td>
                <td>가산댕댕이카페${i}</td>
                <td>서울시 금천구 가산디지털2로 100 1층</td>
              </tr>`;
    }
    $('#second-destination tbody').append(tag);
  })
  $('#add2').click(function () {
    // 3st 데이터 가져오기
    var tag = ''
    for (var i = 0; i < 10; i++) {
      tag += `<tr>
                <td>
                  <input type="radio" id="selection" name="selection">
                </td>
                <td>가산댕댕이카페${i}</td>
                <td>서울시 금천구 가산디지털2로 100 1층</td>
              </tr>`;
    }
    $('#third-destination tbody').append(tag);

//필터 버튼
click_list

    $('#eight').change((e) => {
        if ((this).is(':checked')) {
            $('#here').html(`
                <button id="item">{{ item_name }}</button>
            `)
        }
    })
</script>

</body>